schemas/oval/5.11.3/ios-system-characteristics-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:oval-sc="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5"
            xmlns:oval="http://oval.mitre.org/XMLSchema/oval-common-5"
            xmlns:ios-sc="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#ios"
            xmlns:sch="http://purl.oclc.org/dsdl/schematron"
            targetNamespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#ios"
            elementFormDefault="qualified" version="5.11">
     <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5" schemaLocation="oval-system-characteristics-schema.xsd"/>
     <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-common-5" schemaLocation="oval-common-schema.xsd"/>
     <xsd:annotation>
          <xsd:documentation>The following is a description of the elements, types, and attributes that compose the IOS specific system characteristic items found in Open Vulnerability and Assessment Language (OVAL). Each item is an extension of the standard item element defined in the Core System Characteristic Schema. Through extension, each item inherits a set of elements and attributes that are shared amongst all OVAL Items. Each item is described in detail and should provide the information necessary to understand what each element and attribute represents. This document is intended for developers and assumes some familiarity with XML. A high level description of the interaction between the different tests and their relationship to the Core System Characteristic Schema is not outlined here.</xsd:documentation>
          <xsd:documentation>The OVAL Schema is maintained by the OVAL Community. For more information, including how to get involved in the project and how to submit change requests, please visit the OVAL website at http://oval.cisecurity.org.</xsd:documentation>
          <xsd:appinfo>
               <schema>IOS Definition</schema>
               <version>5.11.1:1.2</version>
               <date>11/30/2016 09:00:00 AM</date>
               <terms_of_use>For the portion subject to the copyright in the United States: Copyright (c) 2016 United States Government. All rights reserved. Copyright (c) 2016, Center for Internet Security. All rights reserved. The contents of this file are subject to the terms of the OVAL License located at https://oval.cisecurity.org/terms. See the OVAL License for the specific language governing permissions and limitations for use of this schema. When distributing copies of the OVAL Schema, this license header must be included.</terms_of_use>
               <sch:ns prefix="oval-sc" uri="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5"/>
               <sch:ns prefix="ios-sc" uri="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#ios"/>
              <sch:ns prefix="xsi" uri="http://www.w3.org/2001/XMLSchema-instance"/>
          </xsd:appinfo>
     </xsd:annotation>
     <!-- =============================================================================== -->
     <!-- =========================  IOS ACL ITEM   ===================================== -->
     <!-- =============================================================================== -->
     <xsd:element name="acl_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>Stores command that are part of a IOS configuration section. For example all configuration lines under an interface. It should not store configurations for configs that already have a separate item. For example BGP has a router item and should not also be stored in a acl_item. </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the name of the ACL.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="ip_version" type="ios-sc:EntityItemAccessListIPVersionType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the IP version of the ACL.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="use" type="ios-sc:EntityItemAccessListUseType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the feature where the ACL is used. If the same ACL is applied in more than one feature (i.e interface and crypto map), multiple items needs to be created.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="used_in" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the name of where the ACL is used. For example if use is 'INTERFACE', use_in will be the name of the interface. If the same ACL is applied in more than one feature (i.e interface and crypto map), multiple items needs to be created.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="interface_direction" type="ios-sc:EntityItemAccessListInterfaceDirectionType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the direction the ACL is applied on an interface.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="acl_config_lines" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the value returned with all config lines of the ACL.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="config_line" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="unbounded">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the value returned with one ACL config line at a time.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ============================== BGP NEIGHBOR ITEM ============================== -->
     <!-- =============================================================================== -->
     <xsd:element name="bgpneighbor_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>Stores information about bgp neighbors configured in bgp instances.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="neighbor" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the bgp neighbor.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="password" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the bgp authentication password, if configured. If Encryption type is configured it should be included in the password string. For example '0 cisco123'. </xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ========================  IOS GLOBAL ITEM   =================================== -->
     <!-- =============================================================================== -->
     <xsd:element name="global_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>Sotres information about the existence of a particular line in the ios config file under the global context.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="global_command" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation/>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ========================  IOS INTERFACE ITEM  ================================= -->
     <!-- =============================================================================== -->
     <xsd:element name="interface_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>The interface_item represents an IOS interface and its configuration options.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the interface name.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="ip_directed_broadcast_command" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element that is true if the directed broadcast command is enabled on the interface. The default is false.</xsd:documentation>
                                   </xsd:annotation>
                                   <xsd:complexType>
                                        <xsd:simpleContent>
                                             <xsd:restriction base="oval-sc:EntityItemAnySimpleType">
                                                  <xsd:attribute name="datatype" use="optional" default="string">
                                                       <xsd:simpleType>
                                                            <xsd:restriction base="oval:SimpleDatatypeEnumeration">
                                                                 <xsd:enumeration value="string"/>
                                                                 <xsd:enumeration value="boolean"/>
                                                            </xsd:restriction>
                                                       </xsd:simpleType>
                                                  </xsd:attribute>
                                             </xsd:restriction>
                                        </xsd:simpleContent>
                                   </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="no_ip_directed_broadcast_command" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation/>
                                        <xsd:appinfo>
                                             <oval:deprecated_info>
                                                  <oval:version>5.11</oval:version>
                                                  <oval:reason>This entity has been deprecated because the ip_directed_broadcast_command has been updated to support a boolean value and this entity can be represented with a value of 'false'.</oval:reason>
                                             </oval:deprecated_info>
                                             <sch:pattern id="ios-sc_interfaceitemnoipdbc">
                                                  <sch:rule context="ios-sc:interface_item/ios-sc:no_ip_directed_broadcast_command">
                                                       <sch:report test="true()">DEPRECATED ELEMENT: <sch:value-of select="name()"/> ID: <sch:value-of select="@id"/></sch:report>
                                                  </sch:rule>
                                             </sch:pattern>
                                        </xsd:appinfo>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="proxy_arp_command" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element that is true if the proxy_arp command is enabled on the interface. The default is true.</xsd:documentation>
                                   </xsd:annotation>
                                   <xsd:complexType>
                                        <xsd:simpleContent>
                                             <xsd:restriction base="oval-sc:EntityItemAnySimpleType">
                                                  <xsd:attribute name="datatype" use="optional" default="string">
                                                       <xsd:simpleType>
                                                            <xsd:restriction base="oval:SimpleDatatypeEnumeration">
                                                                 <xsd:enumeration value="string"/>
                                                                 <xsd:enumeration value="boolean"/>
                                                            </xsd:restriction>
                                                       </xsd:simpleType>
                                                  </xsd:attribute>
                                             </xsd:restriction>
                                        </xsd:simpleContent>
                                   </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="shutdown_command" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element that is true if the interface is shut down. The default is false.</xsd:documentation>
                                   </xsd:annotation>
                                   <xsd:complexType>
                                        <xsd:simpleContent>
                                             <xsd:restriction base="oval-sc:EntityItemAnySimpleType">
                                                  <xsd:attribute name="datatype" use="optional" default="string">
                                                       <xsd:simpleType>
                                                            <xsd:restriction base="oval:SimpleDatatypeEnumeration">
                                                                 <xsd:enumeration value="string"/>
                                                                 <xsd:enumeration value="boolean"/>
                                                            </xsd:restriction>
                                                       </xsd:simpleType>
                                                  </xsd:attribute>
                                             </xsd:restriction>
                                        </xsd:simpleContent>
                                   </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="hardware_addr" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the interface hardware (MAC) address.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="ipv4_address" type="oval-sc:EntityItemIPAddressStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the interface IPv4 address and mask. This element should only allow 'ipv4_address' of the oval:SimpleDatatypeEnumeration.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="ipv6_address" type="oval-sc:EntityItemIPAddressStringType" minOccurs="0" maxOccurs="unbounded">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the interface IPv6 address and mask. This element should only allow 'ipv6_address' of the oval:SimpleDatatypeEnumeration.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="ipv4_access_list" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="2">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the ingress or egress IPv4 ACL name applied on the interface.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="ipv6_access_list" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="2">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the ingress or egress IPv6 ACL name applied on the interface.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="crypto_map" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the crypto map name applied to the interface.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="ipv4_urpf_command" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the uRPF command for IPv4 under the interface.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="ipv6_urpf_command" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the uRPF command for IPv6 under the interface.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="urpf_command" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the uRPF command under the interface.</xsd:documentation>
                                        <xsd:appinfo>
                                             <oval:deprecated_info>
                                                  <oval:version>5.11.2:1.0</oval:version>
                                                  <oval:reason>This entity has been deprecated because it was replaced by the ipv4_urpf_command and ipv6_urpf_command entities.</oval:reason>
                                             </oval:deprecated_info>
                                             <sch:pattern id="ios-sc_interfaceitem_urpf_command_dep">
                                                  <sch:rule context="ios-sc:interface_item/ios-sc:urpf_command">
                                                       <sch:report test="true()">Warning: DEPRECATED ENTITY: <sch:value-of select="name()"/>. This entity has been deprecated because it was replaced by the ipv4_urpf_command and ipv6_urpf_command entities.</sch:report>
                                                  </sch:rule>
                                             </sch:pattern>
                                        </xsd:appinfo>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="switchport_trunk_encapsulation" type="ios-sc:EntityItemTrunkEncapType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the switchport trunk encapsulation option configured on the interface (if applicable).</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="switchport_mode" type="ios-sc:EntityItemSwitchportModeType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the switchport mode option configured on the interface (if applicable).</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="switchport_native_vlan" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the trunk native vlan configured on the interface (if applicable).</xsd:documentation>
                                   </xsd:annotation>
                                   <xsd:complexType>
                                        <xsd:simpleContent>
                                             <xsd:restriction base="oval-sc:EntityItemAnySimpleType">
                                                  <xsd:attribute name="datatype" use="optional" default="string">
                                                       <xsd:simpleType>
                                                            <xsd:restriction base="oval:SimpleDatatypeEnumeration">
                                                                 <xsd:enumeration value="string"/>
                                                                 <xsd:enumeration value="int"/>
                                                            </xsd:restriction>
                                                       </xsd:simpleType>
                                                  </xsd:attribute>
                                             </xsd:restriction>
                                        </xsd:simpleContent>
                                   </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="switchport_access_vlan" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the access vlan configured on the interface (if applicable).</xsd:documentation>
                                   </xsd:annotation>
                                   <xsd:complexType>
                                        <xsd:simpleContent>
                                             <xsd:restriction base="oval-sc:EntityItemAnySimpleType">
                                                  <xsd:attribute name="datatype" use="optional" default="string">
                                                       <xsd:simpleType>
                                                            <xsd:restriction base="oval:SimpleDatatypeEnumeration">
                                                                 <xsd:enumeration value="string"/>
                                                                 <xsd:enumeration value="int"/>
                                                            </xsd:restriction>
                                                       </xsd:simpleType>
                                                  </xsd:attribute>
                                             </xsd:restriction>
                                        </xsd:simpleContent>
                                   </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="switchport_trunked_vlans" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the vlans that are trunked configured on the interface (if applicable).</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="switchport_pruned_vlans" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the vlans that are pruned from the trunk (if applicable).</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="switchport_port_security" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the switchport port-security commands configured on the interface (if applicable).</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ============================  IOS LINE ITEM  ================================== -->
     <!-- =============================================================================== -->
     <xsd:element name="line_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>Stores the properties of specific lines in the ios config file.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="show_subcommand" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The name of the SHOW sub-command.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="config_line" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The value returned from by the specified SHOW sub-command.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ================================= ROUTER ITEM ================================= -->
     <!-- =============================================================================== -->
     <xsd:element name="router_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>Stores commands that are part of a IOS 'router' command configuration. For example 'router bgp 123'.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="protocol" type="ios-sc:EntityItemRoutingProtocolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the routing protocol.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="id" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the IOS router id.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="network" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="unbounded">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the subnet in the network command of the router instance. The area can be included in the string for OSPF.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="bgp_neighbor" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="unbounded">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the BGP neighbors, if applicable.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="ospf_authentication_area" minOccurs="0" maxOccurs="unbounded">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the OSPF area that is authenticated, if applicable.</xsd:documentation>
                                   </xsd:annotation>
                                   <xsd:complexType>
                                         <xsd:simpleContent>
                                               <xsd:restriction base="oval-sc:EntityItemAnySimpleType">
                                                     <xsd:attribute name="datatype" use="optional" default="int">
                                                           <xsd:simpleType>
                                                                 <xsd:restriction base="oval:SimpleDatatypeEnumeration">
                                                                       <xsd:enumeration value="int"/>
                                                                       <xsd:enumeration value="ipv4_address"/>
                                                                 </xsd:restriction>
                                                           </xsd:simpleType>
                                                     </xsd:attribute>
                                               </xsd:restriction>
                                         </xsd:simpleContent>
                                   </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="router_config_lines" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with all config lines of the router.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ================ ROUTING PROTOCOL AUTHENTICATION INTERFACE ITEM =============== -->
     <!-- =============================================================================== -->
     <xsd:element name="routingprotocolauthintf_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>Stores information for routing protocol authentication configured under specific interfaces.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="interface" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the interface.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="protocol" type="ios-sc:EntityItemRoutingProtocolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the routing protocol.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="id" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the routing protocol id.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="auth_type" type="ios-sc:EntityItemRoutingAuthTypeStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the routing protocol authentication type.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="ospf_area" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the OSPF area that is authenticated, if applicable.</xsd:documentation>
                                   </xsd:annotation>
                                   <xsd:complexType>
                                         <xsd:simpleContent>
                                               <xsd:restriction base="oval-sc:EntityItemAnySimpleType">
                                                     <xsd:attribute name="datatype" use="optional" default="int">
                                                           <xsd:simpleType>
                                                                 <xsd:restriction base="oval:SimpleDatatypeEnumeration">
                                                                       <xsd:enumeration value="int"/>
                                                                       <xsd:enumeration value="ipv4_address"/>
                                                                 </xsd:restriction>
                                                           </xsd:simpleType>
                                                     </xsd:attribute>
                                               </xsd:restriction>
                                         </xsd:simpleContent>
                                   </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="key_chain" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the name of the key chain, if applicable.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- =========================  IOS SECTION ITEM   ================================= -->
     <!-- =============================================================================== -->
     <xsd:element name="section_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>Stores command that are part of a IOS configuration section. For example all configuration lines under an interface. It should not store configurations for configs that already have a separate item. For example BGP has a router item and should not also be stored in a section_item. </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="section_command" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The name of the section command.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="section_config_lines" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with all config lines of the section.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="config_line" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="unbounded">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with one config line of the section at a time.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ==========================  IOS SNMP ITEM   =================================== -->
     <!-- =============================================================================== -->
     <xsd:element name="snmp_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>Stores results from collecting lines under the global context associated with snmp.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="access_list" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation/>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="community_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation/>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ======================  IOS SNMP COMMUNITY ITEM   ============================= -->
     <!-- =============================================================================== -->
     <xsd:element name="snmpcommunity_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>Stores information about an SNMP community configuration in IOS. That information includes the community name, the view (if it applies) name, the read-write mode and the ACLs names applied. </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the SNMP community name.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="view" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the view that restricts the OIDs of this community.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="mode" type="ios-sc:EntityItemSNMPModeStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the read-write privileges of the community.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="ipv4_acl" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the IPv4 ACL name applied to the community.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="ipv6_acl" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the IPv6 ACL name applied to the community.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- =========================  IOS SNMP GROUP ITEM   ============================== -->
     <!-- =============================================================================== -->
     <xsd:element name="snmpgroup_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>Stores information about an SNMP group configuration in IOS. That information includes the group name, the SNMP version, the IPv4 or IPv6 ACL it is applied toand the read, write and/or notify views applied to the group.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the SNMP group name.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="version" type="ios-sc:EntityItemSNMPVersionStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the SNMP version of the group.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="snmpv3_sec_level" type="ios-sc:EntityItemSNMPSecLevelStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the SNMPv3 security configure for the group.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="ipv4_acl" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the IPv4 ACL name applied to the group.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="ipv6_acl" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the IPv6 ACL name applied to the group.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="read_view" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the SNMP read view applied to the group.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="write_view" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the SNMP write view applied to the group.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="notify_view" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the SNMP notify view applied to the group.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ========================  IOS SNMP HOST ITEM   ================================ -->
     <!-- =============================================================================== -->
     <xsd:element name="snmphost_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>Stores information about the SNMP host configuration in IOS. That information includes the host, the community or user strings, the SNMP version, the snmp security (if the SNMP version is SNMPv3) and the SNMP traps. </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="host" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the SNMP host address or hostname.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="community_or_user" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the community string or SNMPv3 user configured for the host.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="version" type="ios-sc:EntityItemSNMPVersionStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the SNMP version.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="snmpv3_sec_level" type="ios-sc:EntityItemSNMPSecLevelStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the SNMPv3 security configure for the host.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="traps" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the SNMP traps configured.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- =========================  IOS SNMP USER ITEM   =============================== -->
     <!-- =============================================================================== -->
     <xsd:element name="snmpuser_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>Stores information about an SNMP user configuration in IOS. That information includes the user name, the SNMP group he belongs to, the SNMP version, the IPv4 or IPv6 ACL it is applied to, the Security Level and the Authentication type that apply to the user (for SNMPv3).</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the SNMP user name.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="group" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the SNMP group the user belongs to.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="version" type="ios-sc:EntityItemSNMPVersionStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the SNMP version of the user.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="ipv4_acl" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the IPv4 ACL name applied to the user.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="ipv6_acl" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the IPv6 ACL name applied to the user.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="priv" type="ios-sc:EntityItemSNMPPrivStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the SNMP encryption type for the user (for SNMPv3).</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="auth" type="ios-sc:EntityItemSNMPAuthStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the SNMP authentication type for the user (for SNMPv3).</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- =========================  IOS SNMP VIEW ITEM   =============================== -->
     <!-- =============================================================================== -->
     <xsd:element name="snmpview_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>Stores information about an SNMP view configuration in IOS. That information includes the view name, the mib_family that the view uses and the included or excluded option of the mib family in the view.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the SNMP view name.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="mib_family" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element with the SNMP MIB family of the view.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="include" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Element that is true if the included option is used in the view.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ==========================  IOS TCLSH ITEM   ================================== -->
     <!-- =============================================================================== -->
     <xsd:element name="tclsh_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>The tclsh item holds information about the availability of tcl on the IOS operating system. It extends the standard ItemType as defined in the oval-system-characteristics schema and one should refer to the ItemType description for more information.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="available" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>This boolean entity describes whether TCLSH is available on the system. A value of true means that TCLSH is available. Per Cisco documentation, the accepted way to see if the device supports tcl functionality is to enter the tcl shell. If the attempt results in a tcl prompt then the device supports tclsh and has it enabled.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ========================  IOS VERSION ITEM  =================================== -->
     <!-- =============================================================================== -->
     <xsd:element name="version_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>The version_item holds information about the version of the IOS operating system. It extends the standard ItemType as defined in the oval-system-characteristics schema and one should refer to the ItemType description for more information.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="major_release" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                       <xsd:documentation>The major_release is a combination of train and rebuild information and is used by Cisco advisories to identify major releases.</xsd:documentation>
                                        <xsd:appinfo>
                                             <oval:deprecated_info>
                                                  <oval:version>5.5</oval:version>
                                                  <oval:reason>Additional IOS version components were added to the version_state in order to support a wider range of IOS version strings.  Also, the major_release entity was removed from the version_state element resulting in its deprecation.</oval:reason>
                                                  <oval:comment>This entity has been deprecated and will be removed in version 6.0 of the language.</oval:comment>
                                             </oval:deprecated_info>
                                             <sch:pattern id="ios-sc_versionitemmajor_release">
                                                  <sch:rule context="ios-sc:version_item/ios-sc:major_release">
                                                        <sch:report test="true()">DEPRECATED ELEMENT: <sch:value-of select="name()"/> ID: <sch:value-of select="@id"/></sch:report>
                                                  </sch:rule>
                                             </sch:pattern>
                                        </xsd:appinfo>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="train_number" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                       <xsd:documentation>The train number is the dotted version that starts a version string. For example the version string 12.2(3)T has a train number of 12.2.</xsd:documentation>
                                        <xsd:appinfo>
                                             <oval:deprecated_info>
                                                  <oval:version>5.5</oval:version>
                                                  <oval:reason>Additional IOS version components were added to the version_state in order to support a wider range of IOS version strings.   Also, the train_number entity was removed from the version_state element resulting in its deprecation.</oval:reason>
                                                  <oval:comment>This entity has been deprecated and will be removed in version 6.0 of the language.</oval:comment>
                                             </oval:deprecated_info>
                                             <sch:pattern id="ios-sc_versionitemtrain_number">
                                                  <sch:rule context="ios-sc:version_item/ios-sc:train_number">
                                                        <sch:report test="true()">DEPRECATED ELEMENT: <sch:value-of select="name()"/> ID: <sch:value-of select="@id"/></sch:report>
                                                  </sch:rule>
                                             </sch:pattern>
                                        </xsd:appinfo>
                                   </xsd:annotation>
                              </xsd:element>
                             <xsd:element name="major_version" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                 <xsd:annotation>
                                     <xsd:documentation>The major_version entity specifies the major version piece of the version string.  The value is an integer and in the example 12.4(9)T0a the major version is '12'.</xsd:documentation>
                                 </xsd:annotation>
                             </xsd:element>
                             <xsd:element name="minor_version" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                 <xsd:annotation>
                                     <xsd:documentation>The minor_version entity specifies the minor version piece of the version string.  The value is an integer and in the example 12.4(9)T0a the minor version is '4'.</xsd:documentation>
                                 </xsd:annotation>
                             </xsd:element>
                             <xsd:element name="release" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                 <xsd:annotation>
                                     <xsd:documentation>The release entity specifies the release piece of the version string.  The value is an integer and in the example 12.4(9)T0a the release is '9'.</xsd:documentation>
                                 </xsd:annotation>
                             </xsd:element>
                             <xsd:element name="train_identifier" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The train identifier is the type of Train. For example the version string 12.2(3)T has a train identifier of T. Please see the EntityItemTrainIdentifierType for more information about the different train identifiers.</xsd:documentation>
                                       <xsd:documentation>The train_identifier entity specifies the type of train represented in the version string.  The value is a string and in the example 12.4(9)T0a the train identifier is 'T'.  The following explaination from Wikipedia should help explain the different train identifiers. Cisco IOS releases are split into several "trains", each containing a different set of features. Trains more or less map onto distinct markets or groups of customers that Cisco is targeting.  The 'mainline' train is designed to be the most stable release the company can offer, and its feature set never expands during its lifetime. Updates are released only to address bugs in the product. The previous technology train becomes the source for the current mainline train--for example, the 12.1T train becomes the basis for the 12.2 mainline. Therefore, to determine the features available in a particular mainline release, look at the previous T train release.  The 'T' (Technology) train, gets new features and bug fixes throughout its life, and is therefore less stable than the mainline. (In releases prior to Cisco IOS Release 12.0, the P train served as the Technology train.)  The 'S' (Service Provider) train, runs only on the company's core router products and is heavily customized for Service Provider customers.  The 'E' (Enterprise) train, is customized for implementation in enterprise environments.  The 'B' (broadband) train, support internet based broadband features.  The 'XA', 'Xb' ... (special functionality) train, needs to be documented.  There are other trains from time to time, designed for specific needs -- for example, the 12.0AA train contained new code required for Cisco's AS5800 product.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                             <xsd:element name="rebuild" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                 <xsd:annotation>
                                     <xsd:documentation>The rebuild entity specifies the rebuild piece of the version string  The value is an integer and in the example 12.4(9)T0a the rebuild is '0'.  Often a rebuild is compiled to fix a single specific problem or vulnerability for a given IOS version. For example, 12.1(8)E14 is a Rebuild, the 14 denoting the 14th rebuild of 12.1(8)E. Rebuilds are produced to either quickly repair a defect, or to satisfy customers who do not want to upgrade to a later major revision because they may be running critical infrastructure on their devices, and hence prefer to minimise change and risk.</xsd:documentation>
                                 </xsd:annotation>
                             </xsd:element>
                             <xsd:element name="subrebuild" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                 <xsd:annotation>
                                     <xsd:documentation>The subrebuild entity specifies the subrebuild piece of the version string.  The value is a string and in the example 12.4(9)T0a the subrebuild is 'a'.</xsd:documentation>
                                 </xsd:annotation>
                             </xsd:element>
                             <xsd:element name="mainline_rebuild" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                 <xsd:annotation>
                                     <xsd:documentation>The mainline_rebuild entity specifies the mainline rebuild piece of the version string.  The mainline rebuild is just a regular rebuild release against the mainline operating system release (e.g. the branch of development that would typically be called "the trunk" that isn't associated with a train). Since there is no train identifier to stick the rebuild release after, they stick a alphabetic character inside the parens holding the maintenance release number. For example, 12.4(5b) is the second rebuild of the 12.4(5) maintenance release.</xsd:documentation>
                                 </xsd:annotation>
                             </xsd:element>
                             <xsd:element name="version_string" type="oval-sc:EntityItemIOSVersionType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The version entity holds the raw string output of a 'show version' command.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- =============================================================================== -->
     <!-- =============================================================================== -->
     <xsd:complexType name="EntityItemAccessListInterfaceDirectionType">
          <xsd:annotation>
               <xsd:documentation>The EntityItemAccessListInterfaceDirectionType complex type
                    restricts a string value to a specific set of values: IN, OUT. These values
                    describe the inbound or outbound ACL direction on an interface in a Cisco IOS
                    configuration.  The empty string is also allowed to support empty elements
                    associated with error conditions.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleContent>
               <xsd:restriction base="oval-sc:EntityItemStringType">
                    <xsd:enumeration value="IN"/>
                    <xsd:enumeration value="OUT"/>
                    <xsd:enumeration value="">
                         <xsd:annotation>
                              <xsd:documentation>The empty string value is permitted here to allow for detailed error reporting.</xsd:documentation>
                         </xsd:annotation>
                    </xsd:enumeration>
               </xsd:restriction>
          </xsd:simpleContent>
     </xsd:complexType>
     <xsd:complexType name="EntityItemAccessListIPVersionType">
          <xsd:annotation>
               <xsd:documentation>The EntityItemRoutingProtocolType complex type restricts a string
                    value to a specific set of values: IPV4, IPV6. These values describe if an ACL
                    is for IPv4 or IPv6 in a Cisco IOS configuration.  The empty string is also
                    allowed to support empty elements associated with error
                    conditions.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleContent>
               <xsd:restriction base="oval-sc:EntityItemStringType">
                    <xsd:enumeration value="IPV4"/>
                    <xsd:enumeration value="IPV6"/>
                    <xsd:enumeration value="">
                         <xsd:annotation>
                              <xsd:documentation>The empty string value is permitted here to allow for detailed error reporting.</xsd:documentation>
                         </xsd:annotation>
                    </xsd:enumeration>
               </xsd:restriction>
          </xsd:simpleContent>
     </xsd:complexType>
     <xsd:complexType name="EntityItemAccessListUseType">
          <xsd:annotation>
               <xsd:documentation>The EntityItemAccessListUseType complex type restricts a string
                    value to a specific set of values: INTERFACE, CRYPTO_MAP_MATCH, CLASS_MAP_MATCH,
                    ROUTE_MAP_MATCH, IGMP_FILTER, VTY. These values describe the ACL use in a Cisco
                    IOS configuration.  The empty string is also allowed to support empty elements
                    associated with error conditions.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleContent>
               <xsd:restriction base="oval-sc:EntityItemStringType">
                    <xsd:enumeration value="INTERFACE"/>
                    <xsd:enumeration value="CRYPTO_MAP_MATCH"/>
                    <xsd:enumeration value="CLASS_MAP_MATCH"/>
                    <xsd:enumeration value="ROUTE_MAP_MATCH"/>
                    <xsd:enumeration value="IGMP_FILTER"/>
                    <xsd:enumeration value="VTY"/>
                    <xsd:enumeration value="NONE">
                         <xsd:annotation>
                              <xsd:appinfo>
                                   <oval:deprecated_info>
                                        <oval:version>5.11.2:1.0</oval:version>
                                        <oval:reason>The EntityStateSimpleBaseType check_existence attribute serves the same purpose as this enumeration value.</oval:reason>
                                        <oval:comment>This AccessListUseType enumeration value has been deprecated and may be removed in a future version of the language.</oval:comment>
                                   </oval:deprecated_info>
                              </xsd:appinfo>
                         </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="">
                         <xsd:annotation>
                              <xsd:documentation>The empty string value is permitted here to allow for detailed error reporting.</xsd:documentation>
                         </xsd:annotation>
                    </xsd:enumeration>
               </xsd:restriction>
          </xsd:simpleContent>
     </xsd:complexType>
     <xsd:complexType name="EntityItemRoutingAuthTypeStringType">
          <xsd:annotation>
               <xsd:documentation>The EntityItemRoutingAuthTypeStringType complex type restricts a string value to a specific set of values: CLEARTEXT, MESSAGE_DIGEST. These values describe the routing protocol authentication types used in a Cisco IOS configuration. The empty string is also allowed to support empty elements associated with error conditions.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleContent>
               <xsd:restriction base="oval-sc:EntityItemStringType">
                    <xsd:enumeration value="CLEARTEXT"/>
                    <xsd:enumeration value="MESSAGE_DIGEST"/>
                    <xsd:enumeration value="NULL">
                        <xsd:annotation>
                             <xsd:appinfo>
                                  <oval:deprecated_info>
                                       <oval:version>5.11.2:1.0</oval:version>
                                       <oval:reason>The NULL authentication area type is never declared in an interface ip ospf command context.</oval:reason>
                                       <oval:comment>This RoutingAuthTypeStringType enumeration value has been deprecated and may be removed in a future version of the language.</oval:comment>
                                  </oval:deprecated_info>
                             </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="">
                         <xsd:annotation>
                              <xsd:documentation>The empty string value is permitted here to allow for detailed error reporting.</xsd:documentation>
                         </xsd:annotation>
                    </xsd:enumeration>
               </xsd:restriction>
          </xsd:simpleContent>
     </xsd:complexType>
     <xsd:complexType name="EntityItemRoutingProtocolType">
          <xsd:annotation>
               <xsd:documentation>The EntityItemRoutingProtocolType complex type restricts a string value to a specific set of values: EIGRP, OSPF, BGP, RIP, RIPV2, ISIS. These values describe the routing protocol used in a Cisco IOS configuration. The empty string is also allowed to support empty elements associated with error conditions.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleContent>
               <xsd:restriction base="oval-sc:EntityItemStringType">
                    <xsd:enumeration value="EIGRP"/>
                    <xsd:enumeration value="OSPF"/>
                    <xsd:enumeration value="BGP"/>
                    <xsd:enumeration value="RIP"/>
                    <xsd:enumeration value="RIPV2"/>
                    <xsd:enumeration value="ISIS"/>
                    <xsd:enumeration value="">
                         <xsd:annotation>
                              <xsd:documentation>The empty string value is permitted here to allow for detailed error reporting.</xsd:documentation>
                         </xsd:annotation>
                    </xsd:enumeration>
               </xsd:restriction>
          </xsd:simpleContent>
     </xsd:complexType>
     <xsd:complexType name="EntityItemSNMPVersionStringType">
          <xsd:annotation>
               <xsd:documentation>The EntityItemSNMPVersionStringType complex type restricts a string value to a specific set of values: 1, 2c, 3. These values describe the SNMP version in a Cisco IOS configuration. The empty string is also allowed to support empty elements associated with error conditions.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleContent>
               <xsd:restriction base="oval-sc:EntityItemStringType">
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="2C"/>
                    <xsd:enumeration value="3"/>
                    <xsd:enumeration value="">
                         <xsd:annotation>
                              <xsd:documentation>The empty string value is permitted here to allow for detailed error reporting.</xsd:documentation>
                         </xsd:annotation>
                    </xsd:enumeration>
               </xsd:restriction>
          </xsd:simpleContent>
     </xsd:complexType>
     <xsd:complexType name="EntityItemSNMPSecLevelStringType">
          <xsd:annotation>
               <xsd:documentation>The EntityItemSNMPVersionStringType complex type restricts a string value to a specific set of values: PRIV, AUTH, NO_AUTH. These values describe the SNMP security level (encryption, Authentication, None) in a Cisco IOS SNMPv3 related configurations. The empty string is also allowed to support empty elements associated with error conditions.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleContent>
               <xsd:restriction base="oval-sc:EntityItemStringType">
                    <xsd:enumeration value="PRIV"/>
                    <xsd:enumeration value="AUTH"/>
                    <xsd:enumeration value="NO_AUTH"/>
                    <xsd:enumeration value="">
                         <xsd:annotation>
                              <xsd:documentation>The empty string value is permitted here to allow for detailed error reporting.</xsd:documentation>
                         </xsd:annotation>
                    </xsd:enumeration>
               </xsd:restriction>
          </xsd:simpleContent>
     </xsd:complexType>
     <xsd:complexType name="EntityItemSNMPModeStringType">
          <xsd:annotation>
               <xsd:documentation>The EntityItemSNMPModeStringType complex type restricts a string value to a specific set of values: RO, RW. These values describe the SNMP mode (read-only, read-write) in a Cisco IOS SNMPv3 related configurations. The empty string is also allowed to support empty elements associated with error conditions.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleContent>
               <xsd:restriction base="oval-sc:EntityItemStringType">
                    <xsd:enumeration value="RO"/>
                    <xsd:enumeration value="RW"/>
                    <xsd:enumeration value="">
                         <xsd:annotation>
                              <xsd:documentation>The empty string value is permitted here to allow for detailed error reporting.</xsd:documentation>
                         </xsd:annotation>
                    </xsd:enumeration>
               </xsd:restriction>
          </xsd:simpleContent>
     </xsd:complexType>
     <xsd:complexType name="EntityItemSNMPAuthStringType">
          <xsd:annotation>
               <xsd:documentation>The EntityItemSNMPAuthStringType complex type restricts a string value to a specific set of values: MD5, SHA. These values describe the authentication algorithm in a Cisco IOS SNMPv3 related configurations. The empty string is also allowed to support empty elements associated with error conditions.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleContent>
               <xsd:restriction base="oval-sc:EntityItemStringType">
                    <xsd:enumeration value="MD5"/>
                    <xsd:enumeration value="SHA"/>
                    <xsd:enumeration value="">
                         <xsd:annotation>
                              <xsd:documentation>The empty string value is permitted here to allow for detailed error reporting.</xsd:documentation>
                         </xsd:annotation>
                    </xsd:enumeration>
               </xsd:restriction>
          </xsd:simpleContent>
     </xsd:complexType>
     <xsd:complexType name="EntityItemSNMPPrivStringType">
          <xsd:annotation>
               <xsd:documentation>The EntityItemSNMPPrivStringType complex type restricts a string value to a specific set of values: DES, 3DES, AES. These values describe the encryption algorithm in a Cisco IOS SNMPv3 related configurations. The empty string is also allowed to support empty elements associated with error conditions.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleContent>
               <xsd:restriction base="oval-sc:EntityItemStringType">
                    <xsd:enumeration value="DES"/>
                    <xsd:enumeration value="3DES"/>
                    <xsd:enumeration value="AES"/>
                    <xsd:enumeration value="">
                         <xsd:annotation>
                              <xsd:documentation>The empty string value is permitted here to allow for detailed error reporting.</xsd:documentation>
                         </xsd:annotation>
                    </xsd:enumeration>
               </xsd:restriction>
          </xsd:simpleContent>
     </xsd:complexType>
     <xsd:complexType name="EntityItemSwitchportModeType">
          <xsd:annotation>
               <xsd:documentation>The EntityItemRoutingProtocolType complex type restricts a string value to a specific set of values: DYNAMIC, TRUNK, ACCESS. These values describe the interface switchport mode types in IOS. The empty string is also allowed to support empty elements associated with error conditions.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleContent>
               <xsd:restriction base="oval-sc:EntityItemStringType">
                    <xsd:enumeration value="DYNAMIC" />
                    <xsd:enumeration value="TRUNK" />
                    <xsd:enumeration value="ACCESS" />
                    <xsd:enumeration value="">
                         <xsd:annotation>
                              <xsd:documentation>The empty string value is permitted here to allow for detailed error reporting.</xsd:documentation>
                         </xsd:annotation>
                    </xsd:enumeration>
               </xsd:restriction>
          </xsd:simpleContent>
     </xsd:complexType>
     <xsd:complexType name="EntityItemTrunkEncapType">
          <xsd:annotation>
               <xsd:documentation>The EntityItemTrunkEncapType complex type restricts a string value to a specific set of values: DOT1Q, ISL, NEGOTIATE. These values describe the interface trunk encapsulation types on an interfaces in IOS. The empty string is also allowed to support empty elements associated with error conditions.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleContent>
               <xsd:restriction base="oval-sc:EntityItemStringType">
                    <xsd:enumeration value="DOT1Q" />
                    <xsd:enumeration value="ISL" />
                    <xsd:enumeration value="NEGOTIATE" />
                    <xsd:enumeration value="">
                         <xsd:annotation>
                              <xsd:documentation>The empty string value is permitted here to allow for detailed error reporting.</xsd:documentation>
                         </xsd:annotation>
                    </xsd:enumeration>
               </xsd:restriction>
          </xsd:simpleContent>
     </xsd:complexType>
</xsd:schema>
